<ul class="nav" id="sticky-nav">
    <li{% if page.title == 'Overview' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}">Overview</a></li>
    <li{% if page.title == 'Getting started' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}getting-started">Getting started</a></li>
    <li{% if page.title == 'Dynamic leadership' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}dynamic-leadership">Dynamic leadership</a></li>
    <li{% if page.title == 'Art of delegation' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}art-of-delegation">Art of delegation</a></li>
    <li{% if page.title == 'Design excellence' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}design-excellence">Design excellence</a></li>
    <li{% if page.title == 'Coaching creatives' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}coaching-creatives">Coaching creatives</a></li>
    <li{% if page.title == 'Career development' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}career-development">Career development</a></li>
</ul>
